<div class="relative flex font-montserrat flex-col items-center py-6 px-4 xl:px-22">
  <!-- Título -->
  <div class="flex flex-col items-center w-full mb-4 text-center md:w-3/4 xl:w-1/2 xl:mb-6">
    <span class="text-xl xl:text-lg font-thin text-black">
      {{"HOME.STAY.TITLE" | translate}}
    </span>
    <h1 class="text-lg md:text-2xl xl:text-4xl font-thin">
      {{'HOME.STAY.DESCRIPTION' | translate}}
    </h1>
  </div>

  <!-- Carrusel -->
  <div class="relative w-full overflow-hidden">
    <div
      class="flex transition-transform duration-500 ease-in-out"
      [ngStyle]="{'transform': 'translateX(' + (-currentIndex * 100) + '%)'}"
    >
      <!-- Se repiten los elementos en un bucle infinito -->
      <div
        *ngFor="let card of displayedCards"
        class="w-full flex-none relative"
      >
        <img
          [src]="card.image"
          [alt]="card.title"
          class="w-full h-[350px] md:h-[350px] xl:h-[500px] object-cover"
        >
        <!-- Texto sobre la imagen -->
        <div class="absolute bottom-0 left-0 w-full p-4 md:p-6 bg-black/50 text-white">
          <h2 class="text-sm md:text-lg font-semibold">{{ card.title }}</h2>
          <p class="text-xs md:text-sm">{{ card.description }}</p>
        </div>
      </div>
    </div>

    <!-- Botones de Navegación -->
    <button
      class="absolute left-2 md:left-4 top-1/2 transform -translate-y-1/2 bg-white p-2 md:p-3 rounded-full shadow-lg"
      (click)="prevSlide()"
    >
      <span class="text-lg font-bold">&lt;</span>
    </button>

    <button
      class="absolute right-2 md:right-4 top-1/2 transform -translate-y-1/2 bg-white p-2 md:p-3 rounded-full shadow-lg"
      (click)="nextSlide()"
    >
      <span class="text-lg font-bold">&gt;</span>
    </button>
  </div>
</div>
