<app-banner
  [imagen]="'BOOK_CLAIMS.IMAGE'"
  [texto]="'BOOK_CLAIMS.TITLE'"
  [mostrarFlecha]="true"
  [targetId]="'view'">
>
</app-banner>
<form [formGroup]="reclamationForm" (ngSubmit)="onSubmit()" class="max-w-4xl mx-auto p-6 bg-white shadow rounded-lg space-y-8">

  <!-- Datos del Proveedor -->
  <div id="view" >
    <h2 class="text-xl font-semibold mb-4 border-b pb-2">{{'BOOK_CLAIMS.PROVIDER.TITLE'|translate}}</h2>
    <div formGroupName="provider" class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="block font-medium">{{'BOOK_CLAIMS.PROVIDER.NAME'|translate}}</label>
        <input type="text" formControlName="name" class="input border-black">
        <div *ngIf="reclamationForm.get('provider.name')?.touched && reclamationForm.get('provider.name')?.invalid" class="text-red-600 text-sm mt-1">
          {{'REQUIRED.REQUIRED'|translate}}
        </div>
      </div>
      <div>
        <label class="block font-medium">RUC</label>
        <input type="text" formControlName="ruc" class="input">
        <div *ngIf="reclamationForm.get('provider.ruc')?.touched && reclamationForm.get('provider.ruc')?.invalid" class="text-red-600 text-sm mt-1">
          {{'REQUIRED.RUC'|translate}}
        </div>
      </div>
      <div>
        <label class="block font-medium">{{'BOOK_CLAIMS.PROVIDER.DIRECTION'|translate}}</label>
        <input type="text" formControlName="address" class="input">
        <div *ngIf="reclamationForm.get('provider.direction')?.touched && reclamationForm.get('provider.direction')?.invalid" class="text-red-600 text-sm mt-1">
          {{'REQUIRED.REQUIRED'|translate}}
        </div>
      </div>
      <div>
        <label class="block font-medium">{{'BOOK_CLAIMS.PROVIDER.PHONE'|translate}}</label>
        <input type="text" formControlName="phone" class="input">
        <div *ngIf="reclamationForm.get('provider.phone')?.touched && reclamationForm.get('provider.phone')?.invalid" class="text-red-600 text-sm mt-1">
          {{'REQUIRED.PHONE_NUMBER'|translate}}
        </div>
      </div>
      <div>
        <label class="block font-medium">{{'BOOK_CLAIMS.PROVIDER.EMAIL'|translate}}</label>
        <input type="email" formControlName="email" class="input">
        <div *ngIf="reclamationForm.get('provider.email')?.touched && reclamationForm.get('provider.email')?.invalid" class="text-red-600 text-sm mt-1">
          {{'REQUIRED.EMAIL'|translate}}
        </div>
      </div>
    </div>
  </div>

  <!-- Datos del Consumidor -->
  <div>
    <h2 class="text-xl font-semibold mb-4 border-b pb-2">{{'BOOK_CLAIMS.CUSTOMER.TITLE'|translate}}</h2>
    <div formGroupName="consumer" class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="block font-medium">{{'BOOK_CLAIMS.CUSTOMER.NAME'|translate}}</label>
        <input type="text" formControlName="name" class="input">
        <div *ngIf="reclamationForm.get('consumer.name')?.touched && reclamationForm.get('consumer.name')?.invalid" class="text-red-600 text-sm mt-1">
          {{'REQUIRED.REQUIRED'|translate}}
        </div>

      </div>
      <div>
        <label class="block font-medium">DNI</label>
        <input type="text" formControlName="dni" class="input">
        <div *ngIf="reclamationForm.get('consumer.dni')?.touched && reclamationForm.get('consumer.dni')?.invalid" class="text-red-600 text-sm mt-1">
          {{'REQUIRED.DNI'|translate}}
        </div>
      </div>
      <div>
        <label class="block font-medium">{{'BOOK_CLAIMS.CUSTOMER.DIRECTION'|translate}}</label>
        <input type="text" formControlName="address" class="input">
        <div *ngIf="reclamationForm.get('consumer.address')?.touched && reclamationForm.get('consumer.address')?.invalid" class="text-red-600 text-sm mt-1">
          {{'REQUIRED.REQUIRED'|translate}}
        </div>
      </div>
      <div>
        <label class="block font-medium">{{'BOOK_CLAIMS.CUSTOMER.PHONE'|translate}}</label>
        <input type="text" formControlName="phone" class="input">
        <div *ngIf="reclamationForm.get('consumer.phone')?.touched && reclamationForm.get('consumer.phone')?.invalid" class="text-red-600 text-sm mt-1">
          {{'REQUIRED.PHONE_NUMBER'|translate}}
        </div>
      </div>
      <div>
        <label class="block font-medium">{{'BOOK_CLAIMS.CUSTOMER.EMAIL'|translate}}</label>
        <input type="email" formControlName="email" class="input">
        <div *ngIf="reclamationForm.get('consumer.email')?.touched && reclamationForm.get('consumer.email')?.invalid" class="text-red-600 text-sm mt-1">
          {{'REQUIRED.EMAIL'|translate}}
        </div>
      </div>
    </div>
  </div>

  <!-- Menor de Edad -->
  <div>
    <h2 class="text-xl font-semibold mb-4 border-b pb-2">{{'BOOK_CLAIMS.MINOR.TITLE'|translate}}</h2>
    <div class="mb-4">
      <label class="inline-flex items-center gap-2">
        <input type="checkbox" formControlName="isMinor" class="h-4 w-4">
        <span class="text-sm">{{'BOOK_CLAIMS.MINOR.YES'|translate}}</span>
      </label>
    </div>

    <div *ngIf="reclamationForm.get('isMinor')?.value" formGroupName="minor" class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="block font-medium">{{'BOOK_CLAIMS.MINOR.NAME'|translate}}</label>
        <input type="text" formControlName="name" class="input">
      </div>
      <div>
        <label class="block font-medium">{{'BOOK_CLAIMS.MINOR.PARENT_ID'|translate}}</label>
        <input type="text" formControlName="dni" class="input">
      </div>
      <div>
        <label class="block font-medium">{{'BOOK_CLAIMS.MINOR.PHONE'|translate}}</label>
        <input type="number" formControlName="phone" class="input">
      </div>
      <div>
        <label class="block font-medium">{{'BOOK_CLAIMS.MINOR.EMAIL'|translate}}</label>
        <input type="text" formControlName="email" class="input">
      </div>
    </div>
  </div>

  <!-- Tipo de Reclamo -->
  <div>
    <h2 class="text-xl font-semibold mb-4 border-b pb-2">{{'BOOK_CLAIMS.TYPE.TITLE'|translate}}</h2>
    <div class="space-y-2">
      <label class="block font-medium">{{'BOOK_CLAIMS.TYPE.SELECT_ONE'|translate}}</label>
      <select formControlName="claimType" class="input">
        <option value="">{{'BOOK_CLAIMS.TYPE.SELECT'|translate}}</option>
        <option value="reclamo">{{'BOOK_CLAIMS.TYPE.CLAIM'|translate}}</option>
        <option value="queja">{{'BOOK_CLAIMS.TYPE.REPORT'|translate}}</option>
      </select>
    </div>
  </div>

  <!-- Producto o Servicio -->
  <div formGroupName="product">
    <h2 class="text-xl font-semibold mb-4 border-b pb-2">{{'BOOK_CLAIMS.PRODUCT.TITLE'|translate}}</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="block font-medium">{{'BOOK_CLAIMS.PRODUCT.NAME'|translate}}</label>
        <input type="text" formControlName="name" class="input">
        <div *ngIf="reclamationForm.get('product.name')?.touched && reclamationForm.get('product.name')?.invalid" class="text-red-600 text-sm mt-1">
          {{'REQUIRED.REQUIRED'|translate}}
        </div>
      </div>
      <div>
        <label class="block font-medium">{{'BOOK_CLAIMS.PRODUCT.PRICE'|translate}}</label>
        <input type="text" formControlName="amountClaimed" class="input">
        <div *ngIf="reclamationForm.get('product.amountClaimed')?.touched && reclamationForm.get('product.amountClaimed')?.invalid" class="text-red-600 text-sm mt-1">
          {{'REQUIRED.REQUIRED'|translate}}
        </div>
      </div>
      <div class="md:col-span-2">
        <label class="block font-medium">{{'BOOK_CLAIMS.PRODUCT.DESCRIPTION'|translate}}</label>
        <textarea formControlName="description" class="input h-24"></textarea>
        <div *ngIf="reclamationForm.get('product.description')?.touched && reclamationForm.get('product.description')?.invalid" class="text-red-600 text-sm mt-1">
          {{'REQUIRED.REQUIRED'|translate}}
        </div>
      </div>
    </div>
  </div>

  <!-- Detalles del Reclamo -->
  <div formGroupName="details">
    <h2 class="text-xl font-semibold mb-4 border-b pb-2">{{'BOOK_CLAIMS.DETAILS.TITLE'|translate}}</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label class="block font-medium">{{'BOOK_CLAIMS.DETAILS.DESCRIPTION'|translate}}</label>
        <textarea formControlName="claimDescription" class="input h-24"></textarea>
        <div *ngIf="reclamationForm.get('details.claimDescription')?.touched && reclamationForm.get('details.claimDescription')?.invalid" class="text-red-600 text-sm mt-1">
          {{'REQUIRED.REQUIRED'|translate}}
        </div>
      </div>
      <div>
        <label class="block font-medium">{{'BOOK_CLAIMS.DETAILS.REASON'|translate}}</label>
        <textarea formControlName="requestedAction" class="input h-24"></textarea>
        <div *ngIf="reclamationForm.get('details.requestedAction')?.touched && reclamationForm.get('details.requestedAction')?.invalid" class="text-red-600 text-sm mt-1">
          {{'REQUIRED.REQUIRED'|translate}}
        </div>
      </div>
    </div>
  </div>

  <!-- Checkbox de Términos -->
  <div class="flex flex-row items-start justify-start w-[200px]">
    <input type="checkbox" id="terms" formControlName="terms" class="w-1/4" />
    <label class="w-3/4" for="terms">{{'BOOK_CLAIMS.TERMS'|translate}}<a href="/terminos-y-condiciones" class="text-blue-600 underline" target="_blank">{{'BOOK_CLAIMS.TERMS_LINK'|translate}}</a></label>
  </div>
  <!-- Botón con reCAPTCHA -->
  <ngx-recaptcha2 *ngIf="isBrowser"
                  #captchaElem
                  [siteKey]="site_key"
                  formControlName="recaptcha">
  </ngx-recaptcha2>

  <!-- Botón ENVIAR -->
  <div class="text-right">
    <button
      [disabled]="reclamationForm.invalid || !reclamationForm.get('terms')?.value"
      class="g-recaptcha bg-blue-950 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled:opacity-50">
      {{'BOOOK_CLAIMS.SEND'|translate}}
    </button>
  </div>

</form>

<!-- Modal de éxito -->
<div *ngIf="showSuccessModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white shadow-lg p-8 max-w-md w-full text-center">
    <h2 class="text-xl font-bold mb-4">{{'BOOK_CLAIMS.RECEIVED'|translate}}</h2>
    <p class="mb-6">{{'BOOK_CLAIMS.RECEIVED_ANSWER'|translate}}</p>
    <button (click)="closeModal()" class="px-6 py-2 bg-blue-950 text-white rounded-lg hover:bg-blue-700">Aceptar</button>
  </div>
</div>
