<nav class="flex w-full flex-row col-span-3 bg-[#FFFFFF]">
  <div class="flex w-full items-center justify-start pl-5">
    <i class="fa-solid fa-bars text-[20px] text-[#000000] cursor-pointer" (click)="toggleMenu()"></i>
  </div>
  <div [routerLink]="['home']" class="flex h-[50px]  md:h-[100px] w-full py-4 items-center justify-center">
    <!--<img src="assets/images/logo.png" alt="logo" class="w-[100px] h-[55px]">-->
    <img src="../../../../../assets/img/logo_luxury_c.webp" class="h-full w-full" alt="Infinity Luxury Peru">
  </div>
  <div class="flex w-full items-center justify-end pr-5">
    <i class="fa-solid fa-phone text-[20px] text-[#000000] cursor-pointer"></i>
  </div>
</nav>

<!-- FONDO OSCURO AL ABRIR EL MENÚ -->
<div *ngIf="isMenuOpen || activeSubMenu" class="fixed inset-0 bg-black opacity-40 transition-opacity duration-300 z-100" (click)="closeAllMenus()"></div>

<!-- MENÚ PRINCIPAL -->
<div
  class="fixed top-0  left-0 w-[250px] md:w-[400px] h-full bg-[#FFFFFF] z-200 flex flex-col px-6 py-4 transform transition-transform duration-300"
  [ngClass]="{ 'translate-x-0': isMenuOpen, 'translate-x-[-100%]': !isMenuOpen }"
>
  <div class="flex font-semibold flex-row justify-between">
    <ul class="flex flex-row md:flex-row items-center gap-2 md:gap-4">
      <li (click)="changeLanguage('es')" class="cursor-pointer">ESP</li>
      <li (click)="changeLanguage('en')" class="cursor-pointer">ENG</li>
    </ul>
    <button class="text-black text-2xl mb-4" (click)="toggleMenu()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <!-- OPCIONES DEL MENÚ PRINCIPAL -->
  <div (click)="openSubMenu('destinations')" class="group font-semibold flex items-center justify-between cursor-pointer hover:text-[#aa5432] py-2 border-b border-gray-400 hover:border-[#aa5432] transition-colors duration-300">
    {{ "NAVBAR.DESTINATIONS" | translate }}
    <span>></span>
  </div>

  <div (click)="openSubMenu('expeditions')" class="group font-semibold flex items-center justify-between cursor-pointer hover:text-[#aa5432] py-2 border-b border-gray-400 hover:border-[#aa5432] transition-colors duration-300">
    {{ "NAVBAR.EXPEDITIONS" | translate }}
    <span>></span>
  </div>

  <div (click)="openSubMenu('premium-services')" class="group font-semibold flex items-center justify-between cursor-pointer hover:text-[#aa5432] py-2 border-b border-gray-400 hover:border-[#aa5432] transition-colors duration-300">
    {{ "NAVBAR.PREMIUM_SERVICES" | translate }}
    <span>></span>
  </div>

  <!-- Build your Trip -->
  <a [routerLink]="['/build-your-trip']" (click)="closeAllMenus()" class="group font-semibold flex items-center hover:text-[#aa5432] py-2 border-b border-gray-400 hover:border-[#aa5432] transition-colors duration-300">
    {{ "NAVBAR.BUILD_YOUR_TRIP" | translate }}<span class="ml-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">></span>
  </a>

  <!-- About Us -->
  <a [routerLink]="['/about-us']" (click)="closeAllMenus()" class="group font-semibold flex items-center hover:text-[#aa5432] py-2 border-b border-gray-400 hover:border-[#aa5432] transition-colors duration-300">
    {{ "NAVBAR.ABOUT_US" | translate }}<span class="ml-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">></span>
  </a>

  <!-- Contact Us -->
  <a [routerLink]="['/contact-us']" (click)="closeAllMenus()" class="group font-semibold flex items-center hover:text-[#aa5432] py-2 border-b border-gray-400 hover:border-[#aa5432] transition-colors duration-300">
    {{ "NAVBAR.CONTACT_US" | translate }}<span class="ml-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300">></span>
  </a>

  <!-- Contact us info -->
  <div class="absolute bottom-10 left-5 w-[90%] p-4 bg-[#f5f2eb] border-l-4 border-[#c3aa84]">
    <i class="fa-solid fa-phone text-[#000] mr-2"></i>
    <div>
      <p class="font-bold text-black">866 220 1872</p>
      <p class="text-black text-sm">
        {{ "NAVBAR.CONTACT1" | translate }} <a href="/contact-us" class="text-blue-600 underline">Contact Us</a> {{ "NAVBAR.CONTACT2" | translate }}
      </p>
    </div>
  </div>
</div>

<!-- SUBMENÚ LATERAL -->
<div
  class="fixed top-0 left-0 md:left-[400px] w-[250px] md:w-[350px] h-full bg-[#FFFFFF] z-200 flex flex-col px-6 py-4 transform transition-transform duration-300"
  [ngClass]="{ 'translate-x-0': activeSubMenu, 'translate-x-[-300%]': !activeSubMenu }"
>
  <button class="text-black text-2xl mb-4" (click)="closeSubMenu()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>

  <!-- DESTINATIONS -->
  <div *ngIf="activeSubMenu === 'destinations'">
    <h2 class="font-semibold text-lg pb-2">{{ "NAVBAR.DESTINATIONS" | translate }}</h2>
    <a [routerLink]="['/destinations']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.SEE_ALL" | translate }}</a>
    <a  (click)="openSubSubMenu('peru')" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">Perú</a>
    <a  (click)="openSubSubMenu('ecuador')" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">Ecuador</a>
    <a  (click)="openSubSubMenu('bolivia')" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">Bolivia</a>
  </div>

  <!-- EXPEDITIONS -->
  <div *ngIf="activeSubMenu === 'expeditions'">
    <h2 class="font-semibold text-lg pb-2">{{ "NAVBAR.EXPEDITIONS" | translate }}</h2>
    <a [routerLink]="['/expeditions']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.SEE_ALL" | translate }}</a>
    <a class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432]  py-2">Manú</a>
    <a class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">Inka Trail</a>
    <a class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">Amazon Cruise</a>
    <a class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">Suasi Island</a>
  </div>

  <!-- PREMIUM SERVICES -->
  <div *ngIf="activeSubMenu === 'premium-services'">
    <h2 class="font-semibold text-lg pb-2">{{ "NAVBAR.PREMIUM_SERVICES" | translate }}</h2>
    <a [routerLink]="['/premium-services']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.SEE_ALL" | translate }}</a>
    <a [routerLink]="['/premium-services/luxury-packages']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.LUXURY_PACKAGES" | translate }}</a>
    <a [routerLink]="['/premium-services/premium-tours']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.PREMIUM_TOURS" | translate }}</a>
    <a [routerLink]="['/premium-services/mice']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">MICE</a>
    <a [routerLink]="['/premium-services/family-best-experiences']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.FAMILY_BEST" | translate }}</a>
    <a [routerLink]="['/premium-services/wedding']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.WEDDING" | translate }}</a>
    <a  (click)="openSubSubMenu('special-services')" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.SPECIAL_SERVICES" | translate }}</a>
    <a  (click)="openSubSubMenu('wellness')" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.WELLNESS" | translate }}</a>
    <a  (click)="openSubSubMenu('gastronomy')" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.GASTRONOMY" | translate }}</a>
    <a [routerLink]="['/premium-services/sustainable-tourism']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.SUSTAINABLE" | translate }}</a>
    <a [routerLink]="['/premium-services/charters']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.CHARTERS" | translate }}</a>
    <a [routerLink]="['/premium-services/trekking']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.TREKKING" | translate }}</a>
    <a [routerLink]="['/premium-services/donations']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.DONATIONS" | translate }}</a>

  </div>
</div>


<!-- SUBSUBMENÚ LATERAL -->
<div
  class="fixed top-0 left-0 md:left-[740px] w-[250px] md:w-[350px] h-full bg-[#FFFFFF] z-200 flex flex-col px-6 py-4 transform transition-transform duration-300"
  [ngClass]="{ 'translate-x-0': activeSubSubMenu, 'translate-x-[-350%]': !activeSubSubMenu }"
>
  <button class="text-black text-2xl mb-4" (click)="closeSubSubMenu()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>

  <!-- DESTINATION -->
  <!-- Peru -->
  <div *ngIf="activeSubSubMenu === 'peru'">
    <h2 class="font-semibold text-lg pb-2">PERÚ</h2>
    <a [routerLink]="['destinations/peru']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.SEE_ALL" | translate }}</a>
    <a [routerLink]="['/destinations/peru/cusco-macchu-picchu']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">Cusco - Machu Picchu</a>
    <a [routerLink]="['/destinations/peru/lima']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">Lima</a>
    <a [routerLink]="['/destinations/peru/puno-lake-titicaca']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">Puno - Lake Titicaca</a>
    <a [routerLink]="['/destinations/peru/arequipa-colca-canyon']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">Arequipa - Colca Canyon</a>
    <a [routerLink]="['/destinations/peru/amazon-rainforest']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">Amazon Rainforest</a>
    <a [routerLink]="['/destinations/peru/manu']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">Manu</a>
  </div>

  <!-- Ecuador -->
  <div *ngIf="activeSubSubMenu === 'ecuador'">
    <h2 class="font-semibold text-lg pb-2">ECUADOR</h2>
    <a [routerLink]="['destinations/ecuador']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.SEE_ALL" | translate }}</a>
    <a [routerLink]="['/destinations/ecuador/galapagos']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">Galapagos</a>
  </div>

  <!-- Bolivia -->
  <div *ngIf="activeSubSubMenu === 'bolivia'">
    <h2 class="font-semibold text-lg pb-2">BOLIVIA</h2>
    <a [routerLink]="['destinations/bolivia']"  (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.SEE_ALL" | translate }}</a>
    <a [routerLink]="['/destinations/bolivia/uyuni-salt']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">Uyuni Salt</a>
  </div>

  <!-- PREMIUM SERVICES -->
  <!-- SPECIAL SERVICES-->
  <div *ngIf="activeSubSubMenu === 'special-services'">
    <h2 class="font-semibold text-lg pb-2"> {{ "NAVBAR.SPECIAL_SERVICES" | translate }}</h2>
    <a [routerLink]="['premium-services/special-services']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.SEE_ALL" | translate }}</a>
    <a [routerLink]="['premium-services/special-services/handicap']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432]  py-2">{{ "NAVBAR.HANDICAP" | translate }}</a>
    <a [routerLink]="['premium-services/special-services/austism']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.AUTISM" | translate }}</a>
    <a [routerLink]="['premium-services/special-services/oxygen-requirement']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.OXYGEN" | translate }}</a>
  </div>

  <!-- WELLNESS -->
  <div *ngIf="activeSubSubMenu === 'wellness'">
    <h2 class="font-semibold text-lg pb-2">{{ "NAVBAR.WELLNESS" | translate }}
    </h2>
    <a [routerLink]="['premium-services/wellness']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.SEE_ALL" | translate }}</a>
    <a [routerLink]="['/premium-services/wellness/spa']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">SPA</a>
    <a [routerLink]="['/premium-services/wellness/yoga']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">Yoga</a>
  </div>

  <!-- GASTRONOMY -->
  <div *ngIf="activeSubSubMenu === 'gastronomy'">
    <h2 class="font-semibold text-lg pb-2">{{ "NAVBAR.GASTRONOMY" | translate }}</h2>
    <a [routerLink]="['/premium-services/gastronomy']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.SEE_ALL" | translate }}</a>
    <a [routerLink]="['/premium-services/gastronomy/peruvian-cooking-class']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.PERUVIAN_CLASS" | translate }}</a>
    <a [routerLink]="['/premium-services/gastronomy/peruvian-best-restaurants']" (click)="closeAllMenus()" class="block border-b border-gray-400 hover:text-[#aa5432] hover:border-[#aa5432] py-2">{{ "NAVBAR.PERUVIAN_RESTAURANTS" | translate }}</a>
  </div>
</div>
