<div class="font-montserrat p-6">
  <h2 class="text-2xl font-normal">Sample Journey</h2>
  <div class="relative border-l-4 border-gray-300 mt-6 pl-6">
    <div *ngFor="let day of package.sampleJourney; let i = index" class="relative mb-8">
      <!-- Bolita del timeline -->
      <div *ngIf="alojamientos" class="absolute -left-[65px] top-0 w-15 h-15 bg-[#aa5432] rounded-full flex items-center justify-center text-white font-bold">
        Dia {{ i + 1 }}
      </div>
      <div class="absolute -left-[35px] top-6 w-5 h-5 bg-[#aa5432] rounded-full flex items-center justify-center text-white font-bold">
      </div>
      <div class="flex flex-col p-5">
      <!-- Contenido del día -->
      <h3 class="text-lg font-bold">{{ day.dayTitle }}</h3>
      <h4 class="text-md text-gray-600">{{ day.daySubtitle }}</h4>
      <p class="text-gray-700 whitespace-pre-line text-justify mt-2">{{ day.dayDescription }}</p>

      <!-- Opciones de alojamiento -->
        <div *ngIf="alojamientos" class="flex mt-5 flex-col">
          <h3 class="font-normal text-lg"><i class="fa-solid fa-bell-concierge"></i> Opciones de Alojamiento</h3>
          <div class="mt-2 grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div *ngFor="let accommodation of day.accommodations" class=" ">
              <img [src]="accommodation.image" alt="{{ accommodation.title }}" class="w-full h-40 object-cover ">
              <h3 class="text-lg font-thin mt-2">{{ accommodation.title }} ({{ accommodation.stars }}★)</h3>
              <p class="text-gray-600">{{ accommodation.location }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
