<div class=" relative w-full font-montserrat overflow-hidden">
  <!-- Carrusel -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper flex flex-row">
      <div class="swiper-slide flex-shrink-0 min-w-[50%] md:min-w-[40%] lg:min-w-[30%] px-2" *ngFor="let item of images">
        <div class="relative w-full h-[45vh]">
          <img [src]="item.image" [alt]="item.title"
               class="w-full h-full object-cover " loading="lazy">
          <div class="absolute bottom-0 left-0 w-full bg-black/50 text-white p-4">
            <h3 class="text-lg font-semibold">{{ item.title }}</h3>
            <p class="text-sm">{{ item.description }}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Paginación Swiper -->
    <div class="swiper-pagination"></div>
  </div>

  <!-- Botones de navegación -->
  <button class="swiper-button-prev absolute left-2 top-1/2 transform -translate-y-1/2 z-10 bg-white p-2 rounded-full shadow-lg">&#8249;</button>
  <button class="swiper-button-next absolute right-2 top-1/2 transform -translate-y-1/2 z-10 bg-white p-2 rounded-full shadow-lg">&#8250;</button>
</div>
