<div class="font-montserrat  flex flex-col">
  <app-mapa [locations]="locations"></app-mapa>
  <div class="mt-6 font-thin flex flex-col items-center">
    <h3 class=" text-center">Reserva tu Experiencia en {{programName}}</h3>
    <p class=" text-center text-sm mt-2">Contáctanos y personaliza tu aventura:</p>
    <p class=" text-center text-sm mt-1">Email: <a href="mailto:sales@infinityluxuryperu.com" class="text-blue-500">sales&#64;infinityluxuryperu.com</a></p>
    <p class="text-center text-sm mt-1">Web: <a href="https://www.infinityluxuryperu.com/" target="_blank" class="text-blue-500">www.infinityluxuryperu.com</a></p>
  </div>
</div>
