<app-navbar></app-navbar>
<!-- Fondo oscuro del modal -->
<div *ngIf="isBrowser && !cookiesAccepted"
     class="fixed inset-0 bg-black opacity-60 z-40"></div>

<!-- Banner de cookies -->
<div *ngIf="isBrowser && !cookiesAccepted"
     class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 bg-white text-center p-6 w-[90%] max-w-md rounded-xl shadow-lg border">
  <h2 class="text-lg font-semibold mb-2 text-[#aa5432]">{{ 'COOKIES.TITLE'|translate }}</h2>
  <p class="text-black text-sm mb-4">
    {{ 'COOKIES.DESCRIPTION'|translate }}  </p>
  <div class="flex justify-center gap-4">
    <button
      (click)="acceptCookies()"
      class="bg-[#aa5432] text-white px-4 py-2 rounded hover:bg-[#aa5410] transition-colors"
    >
      {{ 'COOKIES.ACCEPT'|translate }}
    </button>
    <button
      (click)="rejectCookies()"
      class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400 transition-colors"
    >
      {{ 'COOKIES.REJECT'|translate }}
    </button>
  </div>
</div>

<router-outlet />

<div class="fixed z-[9999] bottom-5 right-5">
  <button (click)="openWhatsApp()" class="bg-[#aa5432] text-white px-5 py-3 rounded-full shadow-lg flex items-center space-x-2">
    <span>{{ "SPEAK"|translate }}</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M21 16a8.3 8.3 0 01-2.1 5.3c-.9 1.1-2.3 1.7-3.9 1.7H6.7c-1.6 0-3-.6-3.9-1.7A8.3 8.3 0 011 16c0-4.4 3.6-8 8-8h6c4.4 0 8 3.6 8 8z"/>
    </svg>
  </button>
</div>
  <app-footer></app-footer>
