<div class="relative flex">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="absolute flex flex-col items-center top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-white z-10">
    <p>ABOUT US</p>
    <h2 class="font-argent font-extralight text-6xl">Infinity Luxury Peru</h2>
  </div>
  <img src="assets/img/incredibly-beatiful-site-of-machu-picchu-2023-11-27-05-12-24-utc_11zon.webp" class="w-full">
</div>

<div class="h-[100vh]">
 <div class="flex h-full w-full items-center justify-center p-20 font-argent font-extralight text-3xl">
   We have been spinning dreams into remarkable adventures for discerning travellers for more than 60 years, ever since our founder pioneered the first modern luxury safari in Africa. Today we are the world’s leading travel company, taking guests to the earth’s wildest frontiers on all seven continents.
 </div>
</div>
