<div class="container mx-auto p-6 space-y-8">
  <!-- Información general siempre visible -->
  <app-package-over-view [package]="package"></app-package-over-view>

  <!-- Menú de navegación -->
  <div class="flex space-x-4 border-b">
    <button
      *ngFor="let tab of tabs"
      (click)="selectedTab = tab.id"
      [class.text-blue-500]="selectedTab === tab.id"
      class="py-2 px-4 font-semibold text-gray-700 hover:text-blue-500">
      <i [class]="tab.icon"></i> {{ tab.label }}
    </button>
  </div>

  <!-- Contenido de las secciones -->
  <ng-container [ngSwitch]="selectedTab">
    <app-package-description *ngSwitchCase="'description'" [package]="package"></app-package-description>
    <app-pack-sample-journey *ngSwitchCase="'sample-journey'" [package]="package"></app-pack-sample-journey>
    <app-custom-options *ngSwitchCase="'custom-options'" [package]="package"></app-custom-options>
    <app-package-pricing *ngSwitchCase="'pricing'" [package]="package"></app-package-pricing>
  </ng-container>
</div>
