/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --font-argent: "font", argentcf;
}
@font-face {
  font-family: 'ArgentCF';
  src: url('/assets/fonts/ArgentCF/AnyConv.com__Fontspring-DEMO-argentcf-bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ArgentCF';
  src: url('/assets/fonts/ArgentCF/AnyConv.com__Fontspring-DEMO-argentcf-bolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'ArgentCF';
  src: url('/assets/fonts/ArgentCF/AnyConv.com__Fontspring-DEMO-argentcf-demibold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'ArgentCF';
  src: url('/assets/fonts/ArgentCF/AnyConv.com__Fontspring-DEMO-argentcf-demibolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'ArgentCF';
  src: url('/assets/fonts/ArgentCF/AnyConv.com__Fontspring-DEMO-argentcf-extrabold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ArgentCF';
  src: url('/assets/fonts/ArgentCF/AnyConv.com__Fontspring-DEMO-argentcf-extrabolditalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'ArgentCF';
  src: url('/assets/fonts/ArgentCF/AnyConv.com__Fontspring-DEMO-argentcf-light.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'ArgentCF';
  src: url('/assets/fonts/ArgentCF/AnyConv.com__Fontspring-DEMO-argentcf-lightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'ArgentCF';
  src: url('/assets/fonts/ArgentCF/AnyConv.com__Fontspring-DEMO-argentcf-regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ArgentCF';
  src: url('/assets/fonts/ArgentCF/AnyConv.com__Fontspring-DEMO-argentcf-regularitalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'ArgentCF';
  src: url('/assets/fonts/ArgentCF/AnyConv.com__Fontspring-DEMO-argentcf-super.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'ArgentCF';
  src: url('/assets/fonts/ArgentCF/AnyConv.com__Fontspring-DEMO-argentcf-thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'ArgentCF';
  src: url('/assets/fonts/ArgentCF/AnyConv.com__Fontspring-DEMO-argentcf-thinitalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@theme{
  --font-montserrat: "font", montserrat;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Monserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Monserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('assets/fonts/Monserrat/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face{
  font-family: 'Monserrat';
  src: url('assets/fonts/Monserrat/Montserrat-Black.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: 'Monserrat';
  src: url('assets/fonts/Monserrat/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face{
  font-family: 'Monserrat';
  src: url('assets/fonts/Monserrat/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face{
  font-family: 'Monserrat';
  src: url('assets/fonts/Monserrat/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face{
  font-family: 'Monserrat';
  src: url('assets/fonts/Monserrat/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face{
  font-family: 'Monserrat';
  src: url('assets/fonts/Monserrat/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face{
  font-family: 'Monserrat';
  src: url('assets/fonts/Monserrat/Montserrat-ExtraLightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face{
  font-family: 'Monserrat';
  src: url('assets/fonts/Monserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face{
  font-family: 'Monserrat';
  src: url('assets/fonts/Monserrat/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face{
  font-family: 'Monserrat';
  src: url('assets/fonts/Monserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: 'Monserrat';
  src: url('assets/fonts/Monserrat/Montserrat-MediumItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face{
  font-family: 'Monserrat';
  src: url('assets/fonts/Monserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Monserrat';
  src: url('assets/fonts/Monserrat/Montserrat-SemiBoldItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: 'Monserrat';
  src: url('assets/fonts/Monserrat/Montserrat-Thin.ttf') format('truetype');
  font-weight: 50;
  font-style: normal;
}
@font-face{
  font-family: 'Monserrat';
  src: url('assets/fonts/Monserrat/Montserrat-ThinItalic.ttf') format('truetype');
  font-weight: 50;
  font-style: italic;
}
