<footer class="bg-[#000000] text-white py-10 px-6 h-[100vh] md:h-[50vh]">
  <div class="container grid grid-cols-1 md:grid-cols-4 gap-4 items-center justify-center">
    <!-- Logo e Información de Derechos -->

    <!-- Contacto -->
    <div class="col-span-1">
      <h3 class="text-xl font-thin font-argent mb-4">{{ 'FOOTER.CONTACTO' | translate }}</h3>
      <ul class="text-sm space-y-2">
        <li>
          <span class="inline-block">📞</span> +51 985 517 770
        </li>
        <li>
          <span class="inline-block">📍</span> Surco, Lima, Perú<br> RUC:
        </li>
        <li>
          ✉️ <a href="mailto:sales@andeanelite.com" class="underline">sales&commat;andeanelite.com</a>
        </li>
      </ul>
    </div>

    <!-- Información adicional -->
    <div class="col-span-1">
      <h3 class="text-xl font-thin font-argent mb-4">Infinity Luxury Peru</h3>
      <ul class="text-sm space-y-2">
        <li><a href="#" class="hover:underline">{{ 'FOOTER.POLICY.PROTECTION' | translate }}</a></li>
        <li><a href="#" class="hover:underline">{{ 'FOOTER.POLICY.POLICY' | translate }}</a></li>
        <li><a href="#" class="hover:underline">{{ 'FOOTER.POLICY.TERMS' | translate }}</a></li>
        <li><a href="#" class="hover:underline">{{ 'FOOTER.POLICY.CERTIFICATES' | translate }}</a></li>
      </ul>
    </div>

    <!-- Logos -->
  </div>
</footer>
